*{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

.app{
    background-color: #fafafa;
    height: 100vh;
}

nav.menu, nav.navbar { 
    display: flex;
    background: rgb(243, 243, 243);
    border-top: 1px solid lightgray; 
    border-bottom: 1px solid lightgray; 
    object-fit: contain;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    
  }

  nav.navbar{
    position: fixed;
    width: 100%;
    
  }
  
  .menu {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }
  .logo{
    width: 90px;
    height: 40px;
    margin-top:7px;
    border: 1px solid lightgray;
    margin-left: 10px;
    
  }

  .icon {
    width: 35px;
    padding: 7px;
  }

  .navbar-user{
    width: 20px;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 18px;
  }
  /* Style the links inside the navigation bar */
  .link-name {
   text-decoration: none;
   font-size: 20px;
   color: black;
   font-weight: 600;
  }
  
  /* Change the color of links on hover */
  nav.menu a:hover {
    background-color: rgb(231, 231, 231);
    color: black;
    border-radius: 50%;
  }
  
  nav.menu .menu-user, navnav.menu nav.menu-user{
    margin-left: 10px;
    color: white;
  }

  /* .like{
    border: none;
    background: none;
    padding: 0px;
    width: 20px;
  } */

  button, .insideButton {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color:#33bdef;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:3px 12px;
    text-decoration:none;
    text-shadow:0px 2px 0px #5b6178;
    margin: 15px;
  }
  button, .insideButton:hover {
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color:#019ad2;
  }
  button, .insideButton:active {
    top:1px;
  }

  .form, .signup, .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
  }
  .signup, .login{
    margin-top: 0px;
  }
  
  label{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .inputLoginSignup{
    margin-bottom:10px;
    width: 200px;
    height: 20px;
    border: 1px solid lightgray;
    background-color: rgb(243, 243, 243);
  }

  .already{
    margin-top: 50px;
  }

  .page{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .form-edit{
    margin-top: 20px;
    text-align: center;
  }

  #edit-form{
    margin-top: 100px
  }

  .posting{
    padding-top: 70px;
  }

  .search{
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .createPost{
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .busquedas{
    font-size: 30px;
    margin-top: 40px;
  }

  .input-in, .search-button {
    box-shadow: 0px 10px 14px -7px #3e7327;
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color:#77b55a;
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
    margin: 10px;
  }
  .input-in:hover {
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color:#72b352;
  }
  .input-in:active {
    position:relative;
    top:1px;
  }

  input {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    text-align: center;
    margin: 15px;
  }
  input:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
  }
  input:active {
    position:relative;
    top:1px;
  }

  .delete {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color:#d0451b;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    margin-left: 83%;
  }
  .delete:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
  }
  .delete:active {
    position:relative;
    top:1px;
  }

  .search-button{
    margin-left: 85px;
  }

